@import './base.css';

.fc-event-main-frame .fc-event-time {
    display: none;
}

.fc-toolbar-chunk:first-child,
.fc-toolbar-chunk:nth-child(3) {
    box-shadow: 0 2px 3px #0000000A;
}

.fc .fc-button-primary:disabled {
    color: var(--fc-button-active-text-color);
}

.fc .fc-button:disabled {
     opacity: 1;
}

.fc .fc-button {
    padding: 8px 18px;
    font-size: 13px;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin: 0;
}

.fc .fc-prev-button,
.fc .fc-timeGridWeek-button,
.fc .fc-timeGridDay-button {
    border-radius: 0;
}

.fc .fc-timeGridWeek-button {
    border-right: none;
}

.fc .fc-next-button,
.fc .fc-listWeek-button {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.fc .fc-today-button,
.fc .fc-dayGridMonth-button {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: var(--fc-button-active-text-color);
}

.fc .fc-toolbar-title {
    font-size: 18px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 20px;
}

.fc .fc-scrollgrid-section-header{
    background-color: var(--scrollgrid-section-bg-color);
}

.fc .fc-col-header-cell .fc-scrollgrid-sync-inner {
    padding: 16px 0;
}

.fc-theme-standard th {
    border-right: none;
    border-left: none;
}

.fc .fc-daygrid-day-number {
    color: var(--day-number-color);
    font-size: 15px;
}

.fc .fc-daygrid-day-top {
    padding: 17px 15px;
}

.fc .fc-col-header-cell .fc-col-header-cell-cushion {
    font-size: 11px;
    font-weight: bold;
    color: #A3A6B4;
}

.fc .fc-timegrid-slot,
.fc .fc-timegrid-axis-cushion {
    font-size: 13px;
}

.fc .fc-timegrid-axis-frame {
    justify-content: center;
}

.fc .fc-timegrid-divider {
    display: none;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: none;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
}

.fc .fc-timegrid-slot-label-cushion {
    padding: 15px 20px;
}

.fc .fc-scrollgrid-section td {
    padding: 0;
}

.fc .fc-scrollgrid-section {
    height: 0;
}


