@import './base.css';

.calendar-container {
    position: relative;
}

.calendar-title {
    margin-bottom: 15px;
}

.fc-event-main-frame .fc-event-time {
    display: none;
}

.fc-toolbar-chunk:first-child,
.fc-toolbar-chunk:nth-child(3) {
    box-shadow: 0 2px 3px #0000000A;
}

.fc-toolbar-chunk:first-child {
    position: absolute;
    top: 58px;
}

.fc-toolbar-chunk:first-child .fc-button,
.fc-toolbar-chunk:nth-child(3) .fc-button {
    height: 32px;
    padding: 7px 18px;
    line-height: normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.fc-toolbar-chunk:nth-child(2) {
    margin: auto;
}

.fc .fc-button-primary:disabled {
    color: var(--fc-button-active-text-color);
}

.fc .fc-button:disabled {
     opacity: 1;
}

.fc .fc-button {
    padding: 8px 18px;
    font-size: 13px;
}

.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
    margin: 0;
}

.fc .fc-prev-button,
.fc .fc-timeGridWeek-button,
.fc .fc-timeGridDay-button {
    border-radius: 0;
}

.fc .fc-timeGridWeek-button {
    border-right: none;
}

.fc .fc-next-button,
.fc .fc-listWeek-button {
    border-radius: 0 4px 4px 0;
    border-left: none;
}

.fc .fc-today-button,
.fc .fc-dayGridMonth-button {
    border-radius: 4px 0 0 4px;
    border-right: none;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    color: var(--fc-button-active-text-color);
}

.fc .fc-toolbar-title {
    font-size: 18px;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 30px;
}

.fc .fc-scrollgrid-section-header{
    background-color: var(--scrollgrid-section-bg-color);
}

.fc .fc-col-header-cell .fc-scrollgrid-sync-inner {
    padding: 16px 0;
}

.fc-theme-standard th {
    border-right: none;
    border-left: none;
}

.fc .fc-daygrid-day-number {
    color: var(--day-number-color);
    font-size: 15px;
}

.fc .fc-daygrid-day-top {
    padding: 17px 15px;
}

.fc .fc-col-header-cell .fc-col-header-cell-cushion {
    font-size: 11px;
    font-weight: bold;
    color: #A3A6B4;
}

.fc .fc-timegrid-slot,
.fc .fc-timegrid-axis-cushion {
    font-size: 13px;
}

.fc .fc-timegrid-axis-frame {
    justify-content: center;
}

.fc .fc-timegrid-divider {
    display: none;
}

.fc .fc-timegrid-slot-minor {
    border-top-style: none;
}

.fc-direction-ltr .fc-timegrid-slot-label-frame {
    text-align: center;
}

.fc .fc-timegrid-slot-label-cushion {
    padding: 15px 20px;
}

.fc .fc-scrollgrid-section td {
    padding: 0;
}

.fc .fc-scrollgrid-section {
    height: 0;
}

.fc .fc-timegrid-now-indicator-container {
    overflow: visible;
}

.fc .fc-timegrid-now-indicator-line {
    position: absolute;
    width: 100%;
    transform-origin: left center;
    transform: translateY(-50%) scaleX(1000);
    top: 50%;
}

.fc .fc-timegrid-now-indicator-arrow {
    width: 8px;
    height: 8px;
    left: 85px;
    border-radius: 50%;
    background-color: #3B86FF;
    border: none;
}

.fc .fc-event-title-container {
    padding: 7px 14px;
    border-radius: 4px;
}

.fc-timeGridWeek-view .fc-event-title-container {
    padding: 3px 14px;
}

.fc-timeGridDay-view .fc-event-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 0;
}

.fc-timeGridDay-view  .fc-event {
    border-radius: 0;
}

.fc .fc-event-title {
    display: flex;
    align-items: center;
    padding: 0;
    font-size: 13px;
}

.fc .fc-timegrid-col-events {
    width: 100%;
}

 .fc-timegrid-event .fc-event-main {
     padding: 0;
 }

 .fc-direction-ltr .fc-timegrid-col-events {
     margin: 0;
 }

.fc .fc-toolbar.fc-header-toolbar .fc-toolbar-chunk:last-child {
    position: absolute;
    top: 20px;
    right: 20px;
}

.fc-col-header .fc-timegrid-axis {
    display: none;
}








